@CHARSET "UTF-8";

.blog-entry {
    float: left;
    width: 100%;
}

.blog-entry-next,
.blog-entry-prev {
    padding: 10px 20px;
    float: left;
}

.blog-entry-next {
    float: right;
}

.blog-entry aside {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.blog-entry time {
    clear: both;
    float: left;
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
}
