@CHARSET "UTF-8";

@import "sheet.css";

.qui-blog-list-entry {
    background: rgb( 255,255,255 );
    background: rgba( 255,255,255, 0.7 );
    border: 1px solid #D0D3D3;
    border-radius: 3px;
    clear: both;
    float: left;
    margin-top: 10px;
    padding: 10px 20px 30px 20px;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .qui-blog-list-entry {
        background: none;
        border: none;
        border-radius: none;
        border-bottom: 1px solid #D0D3D3;
        padding: 10px 10px 30px 10px;
    }
}

.qui-blog-list-entry h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.qui-blog-list-entry-date {
    color: #527686 !important;
    font-size: 10px !important;
    margin: 0 0 20px;
    text-align: right;
    width: 100%;
}

.qui-blog-list-entry-imagelink {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #EEEEEE;
    float: left;
    height: 100px;
    margin-right: 20px;
    padding-left: 0;
    width: 20%;
        max-width: 140px;
}

.qui-blog-list-entry-imagelink span {
    display: none;
}

.qui-blog-list-entry-image {
    margin: 0 !important;
    padding: 0 !important;
}
