@CHARSET "UTF-8";

/** sheets - blätterfunktion
 ===================================================== */

.sheets {
    float: right;
    clear: both;
    margin: 10px 0;
    border-right: 1px solid #D0D3D3;
}

.sheets.hide-on-desktop {
    border-right: none;
    margin: 0px 0 0;
    width: 100%;
}

.sheets.hide-on-desktop select {
    width: 100%;
}

.sheets:last-child {
    margin: 20px 0;
}

.sheets a,
.sheets span {
    float: left;
    padding: 0px 10px;
    margin: 0;
    border-left: 1px solid #D0D3D3;
    border-top: 1px solid #D0D3D3;
    border-bottom: 1px solid #D0D3D3;
    background: #FFFFFF;
    text-decoration: none;
    line-height: 24px;

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.sheets a {
    color: #0A82B6;
}

.sheets span.disabled {
    color: #AAAAAA;
    border-color: #DDDDDD;
    cursor: normal;
}

.sheets span.current {
    color: #FFFFFF;
    background: #42A9D7;
    border-color: #42A9D7;
    cursor: normal;
}

.sheets a:hover {
    background: #B1C6CE;
    color: #FFFFFF;
    text-decoration: none !important;
}
